<mat-toolbar class="mat-elevation-z3">
 
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
   
  </mat-toolbar>
  
  <mat-sidenav-container>
      <mat-sidenav opened mode="side" [style.width]="sidenavwidth()">  
       
       <app-custom-navbar  [collapsed]="collapsed()"></app-custom-navbar>
      </mat-sidenav>
      <mat-sidenav-content  [style.margin-left]="sidenavwidth()">
        <app-dashboard></app-dashboard>

        

      </mat-sidenav-content>
  </mat-sidenav-container>

<router-outlet></router-outlet>